# Rename this file to .env and add your OpenAI API key
OPENAI_API_KEY=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
SECRET_KEY=change_me
